@font-face {
  font-family: determinationSans;
  src: url(DTM-Sans.otf);
}
@font-face {
  font-family: determinationMono;
  src: url(DTM-Mono.otf);
}

* {
  font-family: determinationSans;
}

body {
  color: white;
  background-color: black;
  overflow: hidden;
}

img {
  image-rendering: optimizeSpeed;
  image-rendering: pixelated;
}

#tabbar {
  background-color: black;
  color: #00C000;
  border: 2px solid #00C000;
  margin: -10px;
  padding-top: 20px;
  height: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: flex-end;
}

#contentframe {
  position:absolute;
  top: 6.3%;
  left: 0px;
  border: none;
  height: 93.9%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}

.inactivetab {
  width: 70px;
  height: 20px;
  padding-top: 3px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  font-style: italic;
  border: 2px solid #00C000;
}

.activetab {
  width: 70px;
  height: 20px;
  padding-top: 3px;
  margin-top: 15px;
  margin-right: 10px;
  margin-left: 10px;
  text-align: center;
  background-color: black;
  color: #FDFDFD;
  border: 2px solid magenta;
}
